#sidebar{:class => big ? "big" : ""}
  #sb_content
    .section
      =image_tag "header_categories.png", :class => "fix"
      #categories
        %ul
          -Category.all.each do |category|
            %li=link_to(category.name, category_path(category)) # %li=link_to(category.name + " (#{category.stories.size})", category_path(category))

    =image_tag "sidebar_seperator.png", :class => "seperator fix"

    .section
      =image_tag "header_newsletter.png", :class => "fix"
      .section_content
        %br
        %p{:style => "padding: 0;"} Ingresa tu email y recibe<br/> semanal o diariamente las mejores cagadas y puteada
    
        =render :partial => "/newsletter_registrations/new", :locals => {:newsletter_registration => NewsletterRegistration.new}
    
    =image_tag "sidebar_seperator.png", :class => "seperator fix"