
.comment .flag, .comment .seperator, .comment .category, .comment .text {
  float: left; }
.comment .flag {
  padding-top: 4px; }
.comment .text {
  padding-top: 2px;
  padding-left: 5px; }
.comment .seperator {
  margin-left: 5px; }

#debug_msgs {
  border: 1px solid white;
  color: white;
  background-color: black;
  width: 30em;
  position: absolute;
  top: 0em;
  left: 0em;
  text-align: left;
  font-family: verdana; }

#stories #show #content_main {
  padding-top: 25px; }
  #stories #show #content_main .middle h2 {
    font-size: 2em;
    color: black; }

a.normal_color {
  color: #26130c; }

#title_new_users {
  float: left;
  margin-left: 30px;
  margin-right: 10px; }

#inside_left, #inside_right, .wrapper {
  float: left; }

#inside_left, #inside_right {
  background-color: white;
  width: auto; }

#inside_left {
  width: 50px;
  height: 600px; }

#inside_right {
  width: 120px;
  height: 600px; }

#spinner {
  float: right;
  display: none; }

.section .section_content {
  padding-left: 10px; }

body {
  background-color: black;
  font-family: Georgia, Verdana, Tahoma, Helvetica, Arial;
  font-size: 10px;
  color: #26130c;
  text-align: center;
  width: 1260px; }

.fix, .active, .seperator_line, #sidebar img, .thumb_input, .paginators a, .paginators span, .tl, .tr, .br, .bl, #content_footer, .prev_next_pagination {
  behavior: url("/iepngfix.htc"); }

.fix img {
  behavior: url("/iepngfix.htc"); }

.wrapper {
  text-align: left;
  margin: 0 auto;
  width: 960px; }

#content {
  width: 100%;
  background-color: #000000;
  overflow: hidden; }
  #content #middle {
    background-color: #FCFAF5;
    display: inline;
    width: 710px;
    float: left; }
    #content #middle #content_header {
      background: transparent url(/images/content_header.png) repeat-y scroll 0 0em;
      height: 147px; }
      #content #middle #content_header #content_header_content {
        padding: 20px 10px 0px 20px; }
    #content #middle #content_main_wrapper {
      background: transparent url(/images/ringbuch.png) repeat-y scroll left top;
      width: 100%;
      overflow: hidden;
      background-color: #FCFAF5; }
      #content #middle #content_main_wrapper #content_main {
        padding-left: 30px; }
      #content #middle #content_main_wrapper #content_footer {
        background: transparent url(/images/content_footer_stars.png) no-repeat scroll 0 0em;
        overflow: hidden;
        height: 150px; }
    #content #middle h2 {
      font-size: 1.7em;
      line-height: 1.3em; }
    #content #middle #stories_content {
      float: right;
      position: relative;
      margin-top: -186px;
      padding-right: 27px;
      display: inline;
      width: 720px; }
    #content #middle #top {
      display: inline; }
      #content #middle #top .spacer {
        height: 50px; }
      #content #middle #top .country_selector {
        vertical-align: top;
        font-size: 1.2em;
        margin-bottom: 1.8em;
        color: #784e3d; }
        #content #middle #top .country_selector .cs_content {
          margin-left: 125px; }
        #content #middle #top .country_selector .filter_indicator {
          font-size: 1.2em; }
          #content #middle #top .country_selector .filter_indicator span {
            font-weight: bold; }
        #content #middle #top .country_selector table {
          table-layout: fixed; }
          #content #middle #top .country_selector table td {
            vertical-align: middle;
            color: #784e3d; }
  #content #end {
    padding: 0;
    margin: 0;
    float: right;
    width: 710px; }
    #content #end #footer_moon {
      margin-left: 6em; }
    #content #end #terms_link {
      margin-top: 1em;
      display: inline-block; }

h1 {
  font-size: 2em;
  margin-bottom: 15px; }

h2 {
  font-size: 1.7em; }

a {
  color: #ff6600;
  text-decoration: none; }

label.error {
  color: #ff3300;
  font-size: 13px;
  margin: 0;
  margin-top: 3px; }

#main {
  overflow: hidden;
  width: 960px; }

#vamos {
  background: transparent url(/images/new/vamos_arrow.png) no-repeat scroll 0 0em;
  position: absolute;
  float: right;
  left: 425px;
  top: -124px;
  width: 255px;
  height: 165px; }

a.leer_mas {
  color: #ff6600; }

a.zero {
  color: #fcfaf5; }

a.not_zero {
  color: #ff6600; }

.link_blue {
  color: !link_blue; }

.btn_middle {
  width: 114px;
  height: 30px;
  padding: 0;
  border: 0;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer; }

.orange {
  background: transparent url(/images/new/btn_orange.png) no-repeat scroll 0 0em;
  color: white; }

.formError {
  color: #ff6600; }


#header {
  height: 351px; }
  #header #top_navigation {
    float: right;
    width: 410px;
    margin-top: 3em; }
    #header #top_navigation li {
      display: block;
      float: left; }
    #header #top_navigation a {
      display: block;
      padding-right: 1em; }
    #header #top_navigation #stories_tab {
      width: 82px;
      height: 36px;
      background: transparent url(/images/new/icon_inicio.png) no-repeat scroll 0 0em; }
    #header #top_navigation #grandes_putadas_tab {
      width: 146px;
      height: 37px;
      background: transparent url(/images/new/inicio_grandes_putadas.png) no-repeat scroll 0 0em; }
    #header #top_navigation #grandes_cagadas_tab {
      width: 151px;
      height: 35px;
      background: transparent url(/images/new/icon_grandes_cagadas.png) no-repeat scroll 0 0em; }
  #header #logo {
    float: left;
    margin-top: 68px;
    width: 250px;
    height: 150px; }
    #header #logo #sera_destino_logo {
      display: block;
      width: 100%;
      height: 100%; }
  #header #header_login_section {
    float: right;
    margin-right: 10px;
    height: 42px;
    width: 400px;
    background-color: #26140c; }

#sub_header {
  overflow: hidden; }
  #sub_header .login {
    width: 444px;
    height: 50px;
    background: transparent url(/images/right_top_bar.png) no-repeat scroll 0 0em;
    float: right;
    font-size: 120%; }
    #sub_header .login .links {
      font-size: 15px;
      margin-top: 1em; }
      #sub_header .login .links a.signup {
        margin-left: 13px;
        margin-right: 7px; }
      #sub_header .login .links a.my_account {
        margin-left: 140px;
        margin-right: 28px; }
  #sub_header #header_text {
    float: right;
    display: inline;
    margin-top: 70px;
    margin-right: 110px;
    color: #000000;
    font-size: 1.8em;
    line-height: 1.1em;
    width: 500px;
    text-align: right; }
  #sub_header #right {
    margin-top: 80px;
    float: right; }

input.medium_input {
  width: 200px; }


.input {
  font-family: Arial, Sans-Serif;
  margin-bottom: 5px;
  display: block;
  height: 20px;
  background-image: url( '/images/new/input_gradient.png' );
  background-repeat: repeat-x;
  background-position: top; }

div.fieldWithErrors {
  border: 0; }

.fieldWithErrors .input, .fieldWithErrors select, .fieldWithErrors textarea {
  margin-bottom: 5px;
  background-image: url( '/images/input_gradient_error.png' );
  border: solid 1px red; }

input.error, textarea.error {
  background-image: url( '/images/input_gradient_error.png' );
  border: solid 1px red; }

.input, textarea {
  width: 540px;
  border: solid 1px #D6BCB1;
  font-size: 1.6em;
  padding: 2px; }

textarea {
  font-size: 1.2em;
  width: 100%; }

.input:focus, select:focus {
  background-image: none;
  background-color: #ffffff;
  border: solid 1px #FF6600; }

.short {
  width: 260px; }

#story_body {
  height: 263px;
  font-size: 1.2em; }

#story_category_id {
  width: 200px; }

label {
  display: block;
  font-size: 12px;
  margin-bottom: 3px;
  margin-top: 20px; }

label.label_sub {
  color: #784e3d;
  margin-bottom: 3px;
  margin-top: 0px;
  font-size: 11px; }

.story {
  overflow: hidden; }
  .story .text {
    line-height: 16px;
    font-size: 1.3em; }
  .story .footer {
    margin-left: 58px;
    margin-bottom: 20px;
    margin-top: 0px; }
  .story h2 {
    margin-bottom: 7px;
    text-transform: uppercase;
    font-weight: normal; }
  .story .left {
    float: left;
    margin-right: 11px;
    width: 51px;
    background: transparent url(/images/comment_bubble.png) no-repeat scroll 0 0em; }
    .story .left a {
      display: block;
      width: 50px;
      text-align: center;
      height: 57px;
      padding-top: 5px;
      font-size: 2.4em; }
  .story .middle {
    width: 430px;
    float: left;
    margin-bottom: 10px; }
    .story .middle .story_footer {
      margin-top: 15px;
      padding: 0px;
      color: #8a5126; }
      .story .middle .story_footer .flag, .story .middle .story_footer .seperator, .story .middle .story_footer .category, .story .middle .story_footer .text {
        float: left; }
      .story .middle .story_footer .flag {
        padding-top: 4px; }
      .story .middle .story_footer .text {
        padding-top: 2px;
        padding-left: 5px; }
      .story .middle .story_footer .seperator {
        margin-left: 5px; }
    .story .middle h2 a {
      color: #CC0000; }
    .story .middle h2 a.tag {
      color: white;
      font-size: 12px;
      text-transform: capitalize;
      padding-left: 8px; }
    .story .middle a.category_small {
      background: transparent url(/images/new/icon_tag_small.png) no-repeat scroll 0px 0px; }
    .story .middle a.category_medium {
      background: transparent url(/images/new/icon_tag_medium.png) no-repeat scroll 0px 0px; }
  .story .divider {
    background: transparent url(/images/new/story_divider.png) no-repeat scroll 0 0em;
    height: 155px;
    width: 25px;
    float: left; }
  .story .right {
    float: left;
    width: 153px;
    overflow: hidden; }

#stories #new #content #middle #stories_content, #stories #create #content #middle #stories_content, #stories #new2 #content #middle #stories_content {
  margin-top: -220px;
  width: 685px; }

#new_story_wrapper {
  background-color: #f5eeeb;
  width: 87%;
  margin-top: 15px;
  margin-left: 55px; }
  #new_story_wrapper #new_story {
    display: block;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 10px; }

#suggestions #new_story_wrapper {
  margin-left: 9em; }
#suggestions #new_story {
  margin-top: -30px;
  display: block;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 10px; }
  #suggestions #new_story textarea {
    height: 300px; }

#comments {
  margin-left: 57px;
  width: 88%; }
  #comments .story_comment_divider {
    background: transparent url(/images/new/single_footer.png) no-repeat scroll 0 0em;
    width: 580px;
    height: 55px;
    margin-top: 15px; }
  #comments h2 {
    padding-top: 20px;
    font-size: 1.6em;
    font-weight: normal;
    margin-bottom: 0.5em; }
  #comments .leave_comment {
    margin-top: 2em;
    overflow: hidden;
    display: block; }
    #comments .leave_comment .brown_background {
      background-color: #f6efdf;
      padding: 20px;
      padding-bottom: 1em; }
      #comments .leave_comment .brown_background textarea {
        border: 1px solid #D6BCB1; }
  #comments .child .comment {
    margin-left: 20px; }
  #comments .child_of_child .comment {
    margin-left: 40px; }
  #comments .child_of_child .icon_comment_reply {
    margin-left: 20px; }
  #comments .comment {
    background-color: #f6efdf;
    padding: 13px;
    font-size: 12px;
    margin-bottom: 10px; }
    #comments .comment .black {
      margin-top: 4px;
      display: block; }
    #comments .comment .info {
      color: #8a5126;
      font-size: 13px; }

.thumbs {
  margin-top: 1.5em; }
  .thumbs .thumb {
    font-size: 1.3em;
    color: #3D2115; }
    .thumbs .thumb .thumb_input {
      border: 0;
      display: block;
      cursor: pointer; }
    .thumbs .thumb span {
      position: relative;
      margin-left: 128px;
      margin-top: -26px;
      font-size: 15px;
      float: left; }
    .thumbs .thumb .top .thumb_input {
      background: transparent url(/images/btn_es_destino.png) no-repeat scroll 0 0em;
      width: 153px;
      height: 38px; }
    .thumbs .thumb .top .rated {
      background: transparent url(/images/btn_es_destino_not_active.png) no-repeat scroll 0 0em;
      cursor: default; }
    .thumbs .thumb .flop .thumb_input {
      margin-top: 0.6em;
      background: transparent url(/images/btn_es_casualidad.png) no-repeat scroll 0 0em;
      width: 150px;
      height: 38px; }
    .thumbs .thumb .flop .rated {
      cursor: default;
      background: transparent url(/images/btn_es_casualidad_not_active.png) no-repeat scroll 0 0em; }

#inside_navigation {
  height: 10px; }
  #inside_navigation li {
    display: block;
    float: left; }
  #inside_navigation li.active {
    display: block;
    float: left; }
  #inside_navigation a {
    color: #26140c;
    display: block;
    padding-right: 1em;
    text-decoration: underline; }
  #inside_navigation a.active {
    display: block;
    padding-right: 1em;
    color: #26140c;
    text-decoration: none; }

#cat {
  float: right;
  width: 153px;
  height: 90px; }
  #cat #footer_cat {
    display: block; }
