.userbox {
  text-align: center;
  float: left;
  background-color: #E5CF9C;
  border: 1px solid #C7B488;
  margin-right: 12px;
  padding: 2px; }
  .userbox img {
    border: 1px solid #FFFFFF;
    vertical-align: middle; }
  .userbox .flag {
    margin-left: 43px;
    margin-top: -2px;
    position: absolute;
    width: 22px;
    height: 17px;
    background-color: black;
    opacity: 0.5; }
  .userbox .user_box_flag {
    margin-left: 46px;
    margin-top: 0px;
    position: absolute;
    border: 0; }
