%h1 R-Files to download
%ul
  %li=link_to "results_as_contigency_table.txt", "http://www.seradestino.com/experiment/SPSS_FILES/contingency_table_results.txt"
  %li=link_to "all_datasets_results.txt", "http://www.seradestino.com/experiment/SPSS_FILES/all_datasets_results.txt"  