%h1 Spss-Files to download
%ul
  %li=link_to "user_registered_collapsed.sav", "http://www.seradestino.com/experiment/SPSS_FILES/user_registered_collapsed.sav"
  %li=link_to "newsletter_subscriped.sav", "http://www.seradestino.com/experiment/SPSS_FILES/newsletter_subscriped.sav"
  %li=link_to "story_rated.sav", "http://www.seradestino.com/experiment/SPSS_FILES/story_rated.sav"  
  %li=link_to "story_read.sav", "http://www.seradestino.com/experiment/SPSS_FILES/story_read.sav"  
  %li=link_to "story_written.sav", "http://www.seradestino.com/experiment/SPSS_FILES/story_written.sav"  
  %li=link_to "user_registered.sav", "http://www.seradestino.com/experiment/SPSS_FILES/user_registered.sav"  
        