#sidebar
  #sb_content
    .section
      =image_tag "header_new_story.png"

      %p Escribe tu historia y después pulsa el botón <span class="highlight">“Enviar”</span>. Tu texto aparecerá en la página principal y podrá ser valorado como casualidad u obra del destino por otros usuarios.

    =image_tag "sidebar_seperator.png", :class => :seperator

    =render :partial => "/newsletter_registrations/sidebar_section"
