#sidebar
  #sb_content
    .section
      =image_tag "header_new_story.png"

      %p Muy sencillo, basta con escribir un pequeño texto y después pulsar el botón <span class="highlight">“¡Soltar la mierda!”</span>. Entonces el texto aparecerá en la página principal y podrá ser valorado como cagada o putada por otros usuarios. 


    =image_tag "sidebar_seperator.png", :class => :seperator

    =render :partial => "/newsletter_registrations/sidebar_section"
