=render :partial => "stories/story", :locals => {:story => story, :mode => "single"}
.c
#comments
  .cl
  %br
  .story_comment_divider.fix
    =image_tag "comments_leave_a_comment_header.png", :style => "margin-top: 22px;"    
  
  .leave_comment
    .brown_background
      %h3= t("comments.textarea_title")
      -form_for :comment, :url => comments_path(:story => story.id), :html => {:id => "comment_form", :class => "comment_form"} do |f|
        =text_area_tag "comment[comment]", "", :id => "story_comment_field", :size => "1x6"
        =submit_tag t("comments.send_comment"), :style => "margin-top: 2px;", :class => "comment_submit button button_blue_small fr"
      .c
  
  =image_tag "comments_header.png", :style => "margin-top: 22px;"    

  -if @story.root_comments.size > 0
    = render :partial => "comments/comment", :collection => @story.root_comments, :locals => {:level => "parent"}
  -else
    .c
    %span.font_14=t("comments.no_comments")
  .clear
  %br
  %br

=render :partial => "comments/js_validation", :locals => { :form_class => "comment_form" }