:erb
  <script type="text/javascript"><!--
  google_ad_client = "pub-8565550663853172";
  /* 468x60, Erstellt 21.04.10 */
  google_ad_slot = "2662300134";
  google_ad_width = 468;
  google_ad_height = 60;
  //-->
  </script>
  <script type="text/javascript"
  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
  </script>  

.story{:id => dom_id(story)}
  .left.fix
    =comment_bubble_link(story)

  .middle
    %h2
      -unless defined?(mode)
        =link_to(h(truncate(get_title_for_story(story), 80)), story_path(story))
      -else
        =h get_title_for_story(story)
    .text
      -unless controller.controller_name == "stories" and controller.action_name == "show"
        =h(truncate(get_body_for_story(story), 400).strip)
        =link_to("(Leer mas)", story_path(story), :class => "leer_mas", :rel => "nofollow")
      -else
        =simple_format(h(get_body_for_story(story).strip))
    .story_footer
      =meta_info(story)

  .right
    .thumbs
      .thumb
        .top
          -form_tag(rate_story_path(story, :type => "destino"), :id => "rate_top_#{dom_id(story)}") do 
            =thumbs_up_link(story)
        %span=story.ratings_count_top
      .thumb
        .flop
          -form_tag (rate_story_path(story, :type => "casualidad"), :id => "rate_flop_#{dom_id(story)}") do 
            =thumbs_down_link(story)
        %span=story.ratings_count_flop

  -unless controller.controller_name == "stories" and controller.action_name == "show"
    .footer.cl
      =image_tag "new/footer_story_divider.png"
  -else
    &nbsp;
.c