-title("seradestino.com - ¿Destino o casualidad?")

-content_for(:top) do
  =render :partial => '/shared/new_users_boxes', :locals => {:big => false}

-content_for(:sidebar) do
  =render :partial => '/shared/sidebars/sidebar', :locals => {:big => false}

-content_for(:main) do
  =session[:geo_location].to_yaml
  =render :partial => 'stories/story', :collection => @stories

-content_for(:footer) do
  .paginators
    -if PAGINATION or true
      = will_paginate @stories, :page_links => false, :class => :prev_next_pagination, :prev_label => 'Anterior', :next_label => 'Siguiente'
      .c
      = will_paginate @stories, :prev_label => '« Anterior', :next_label => 'Siguiente »'

