-content_for :meta_desc do
  ="¡Es Increible! " + truncate(@story.body.gsub(/\r\n?/, " "), 200)

-title("#{@story.browser_title}")

-content_for(:sidebar) do
  =render :partial => '/shared/sidebars/sidebar', :locals => {:big => false}

-content_for(:main) do
  =render :partial => "story_single", :locals => {:story => @story}