-title("#{@story.browser_title} - seradestino.com")


-content_for(:sidebar) do
  =render :partial => 'show_sidebar'

-content_for(:main) do
  =render :partial => "story_single", :locals => {:story => @story}


