- form_for(newsletter_registration) do |f|
  = f.error_messages
  %br
  %br  
  %span.label Email:
  = f.text_field :email, :class => :input
  =f.error_message_on :email
  
  %br
  =submit_tag t("story.send_story"), :style => "margin-top: 5px;", :class => "comment_submit button button_blue_small"
.clear

=render :partial => "/newsletter_registrations/js_validation", :locals => { :form_id => "new_newsletter_registration" }