.section
  =image_tag "header_newsletter.png", :class => "fix"
  .section_content
    %br
    %p{:style => "padding: 0;"}=t "global.newsletter_subtext"

    - form_for(NewsletterRegistration.new) do |f|
      = f.error_messages
      %br
      %br  
      %span.label Email:
      = f.text_field :email, :class => :input
      =f.error_message_on :email
      =submit_tag t("story.send_story"), :style => "margin-top: 5px;", :class => "comment_submit button button_blue_small_black_back"
    .clear

    =render :partial => "/newsletter_registrations/js_validation", :locals => { :form_id => "new_newsletter_registration" }